* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    letter-spacing: 1px;
}


p {
    color: rgb(95, 95, 95);
}

.column {
    float: left;
    padding: 25px;
    height: 300px;
}

/* LEFT SIDE */
.left {
    background-color: transparent;
    width: 30%;
}

.left img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.left h3 {
    font-weight: lighter;
    color: rgb(95, 95, 95);
    margin-bottom: 15px;
}

nav a {
    text-decoration: none;
    color: rgb(95, 95, 95);
    display: flex;

}

.left nav {
    margin-bottom: 15px;
}

.left nav ul li {
    font-weight: lighter;
    font-size: small;
    list-style: none;
    margin-bottom: 5px;
    display: block;

}

/* RIGHT SIDE */
.right {
    background-color: transparent;
    width: 70%;
}

section {
    margin-bottom: 50px;
}

h1 {
    border-bottom: 3px solid pink;
    margin-bottom: 30px;
}

.run-buddy img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 10%;
    border:rgb(95, 95, 95) 3px solid;
    margin: 15px;
}

.blank img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 10%;
    border:rgb(95, 95, 95) 3px solid;
    margin: 15px;
}

article {
    display: flex;
    flex-wrap: wrap;
}



